zebra={{ 'yes' if nodes_data[node].daemons.zebra | default(false) else 'no' }}
bgpd={{ 'yes' if nodes_data[node].daemons.bgpd | default(false) else 'no' }}
ospfd={{ 'yes' if nodes_data[node].daemons.ospfd | default(false) else 'no' }}
ospf6d={{ 'yes' if nodes_data[node].daemons.ospf6d | default(false) else 'no' }}
ripd={{ 'yes' if nodes_data[node].daemons.ripd | default(false) else 'no' }}
ripngd={{ 'yes' if nodes_data[node].daemons.ripngd | default(false) else 'no' }}
isisd={{ 'yes' if nodes_data[node].daemons.isisd | default(false) else 'no' }}
pimd={{ 'yes' if nodes_data[node].daemons.pimd | default(false) else 'no' }}
ldpd={{ 'yes' if nodes_data[node].daemons.ldpd | default(false) else 'no' }}
nhrpd={{ 'yes' if nodes_data[node].daemons.nhrpd | default(false) else 'no' }}
eigrpd={{ 'yes' if nodes_data[node].daemons.eigrpd | default(false) else 'no' }}
babeld={{ 'yes' if nodes_data[node].daemons.babeld | default(false) else 'no' }}
sharpd={{ 'yes' if nodes_data[node].daemons.sharpd | default(false) else 'no' }}
staticd={{ 'yes' if nodes_data[node].daemons.staticd | default(false) else 'no' }}
pbrd={{ 'yes' if nodes_data[node].daemons.pbrd | default(false) else 'no' }}
bfdd={{ 'yes' if nodes_data[node].daemons.bfdd | default(false) else 'no' }}
fabricd={{ 'yes' if nodes_data[node].daemons.fabricd | default(false) else 'no' }}

#
# If this option is set the /etc/init.d/frr script automatically loads
# the config via "vtysh -b" when the servers are started.
# Check /etc/pam.d/frr if you intend to use "vtysh"!
#
vtysh_enable=yes
zebra_options=" -s 90000000 --daemon -A 127.0.0.1"
bgpd_options="   --daemon -A 127.0.0.1"
ospfd_options="  --daemon -A 127.0.0.1"
ospf6d_options=" --daemon -A ::1"
ripd_options="   --daemon -A 127.0.0.1"
ripngd_options=" --daemon -A ::1"
isisd_options="  --daemon -A 127.0.0.1"
pimd_options="  --daemon -A 127.0.0.1"
ldpd_options="  --daemon -A 127.0.0.1"
nhrpd_options="  --daemon -A 127.0.0.1"
eigrpd_options="  --daemon -A 127.0.0.1"
babeld_options="  --daemon -A 127.0.0.1"
sharpd_options="  --daemon -A 127.0.0.1"
staticd_options="  --daemon -A 127.0.0.1"
pbrd_options="  --daemon -A 127.0.0.1"
bfdd_options="  --daemon -A 127.0.0.1"
fabricd_options="  --daemon -A 127.0.0.1"

#MAX_FDS=1024
# The list of daemons to watch is automatically generated by the init script.
#watchfrr_options=""

# for debugging purposes, you can specify a "wrap" command to start instead
# of starting the daemon directly, e.g. to use valgrind on ospfd:
#   ospfd_wrap="/usr/bin/valgrind"
# or you can use "all_wrap" for all daemons, e.g. to use perf record:
#   all_wrap="/usr/bin/perf record --call-graph -"
# the normal daemon command is added to this at the end.